<div class="loginPage">

  <!--Start container-->

  <div class="divEspaco">
  </div>
  <div class="loginForm">

    <div class="imgForm">
      <img src="/assets/images/logo-trader.png" alt="">
      <p>CADASTRAR</p>
    </div>


    <!--            Start form-->
    <form #cadasterForm="ngForm" (ngSubmit)="register(cadasterForm)">
      <div class="formulario">

        <div class="form-group m-0">
          <label class="mt-0" for="inputName">nome</label>
          <input class="form-control" type="text" id="inputName" required placeholder="Seu nome" ngModel name="name">
        </div>

        <div class="form-group m-0">
          <label class="mt-0" for="inputEmail">e-mail</label>
          <input class="form-control" type="email" id="inputEmail" required placeholder="Seu email" ngModel name="email">
        </div>

        <div class="form-group m-0">
          <label class="mt-0" for="inputSenha">senha</label>
          <input class="form-control" type="password" required id="inputSenha" placeholder="Sua senha" ngModel name="password">
        </div>

        <div class="form-group m-0">
          <label class="mt-0" for="inputConfirmarSenha">confirmar senha</label>
          <input class="form-control" type="password" required id="inputConfirmarSenha" placeholder="Confirmar senha" ngModel name="password_confirmation">
        </div>

        <button type="submit" class="btn btn-primary btnLoginForm">CADASTRAR</button>

        <a href=""><small id="email" class="form-text text-muted">Recuperar Senha</small></a>

      </div>
    </form>
      <!--            End form-->

  </div>
  <div class="divEspaco">
  </div>

</div>
