<body class="dashboardConquistas">
  <div class="container-fluid">
    <div class="row content">

      <app-side-bar></app-side-bar>


      <div class="col-sm-11 col-xs-12 contentPage" style="margin-left: 4.7em;">

        <!--                Start top menu-->
        <div class="topMenu" style="margin:0">
          <div class="col-12 d-flex pr-0">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 d-flex topMenuLeftDashboard">
              <div class="userImageDashboard">
              </div>
              <div>
                <h3>PETER MARKS</h3>
                <p class="dashboardData">AGOSTO DE 2019</p>
              </div>
            </div>
            <div class="topMenuData">
              <p>Ter, 27 de Agosto de 2019</p>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-6 d-flex dashboardTopMenuRight">
              <ul>

                <li>
                  <a style="margin-left: -95px; margin-top: 9px" [routerLink]="'/dashboard/ct'" class="menuItem">CENTRO DE
                    TREINAMENTO</a>
                </li>

                <li>
                  <a style="margin-left: -28px;" [routerLink]="'/dashboard/banca'" class="menuItem">BANCA</a>
                </li>

                <li>
                  <a style="margin-left: -38px;" [routerLink]="'/dashboard/carreira'" class="menuItem">CARREIRA</a>
                </li>
                <li>
                  <a style="margin-left: -45px;" [routerLink]="'/dashboard/conquistas'" class="menuItem">CONQUISTAS</a>
                </li>


                <!--          <li class="active"><a href="dashboard-ct.html" class="menuItem">CENTRO DE TREINAMENTO</a></li>-->
                <!--          <li><a href="dashboard-banca.html" class="menuItem">BANCA</a></li>-->
                <!--          <li><a href="dashboard-carreira.html" class="menuItem">CARREIRA</a></li>-->
                <!--          <li><a href="dashboard-conquistas.html" class="menuItem">CONQUISTAS</a></li>-->
              </ul>
            </div>
          </div>
        </div>
        <!--                End top menu-->

        <!--                Start content dashboard conquistas-->
        <div class="container-fluid contentDashboardConquistas">

          <!--                    Start content menu-->
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 contentMenu">
            <div class="metas">
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/betting-gray.png" alt="">
                <p>Banca</p>
                <p>R$ 45000,00</p>
              </div>
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/football-badge-gray.png" alt="">
                <p>Nível</p>
                <p>2º DIVISÃO</p>
              </div>
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/podium-gray.png" alt="">
                <p>Engajamento</p>
                <p>2º RANKING</p>
              </div>
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/goal-gray.png" alt="">
                <p>Pontuação</p>
                <p>2387 XS</p>
              </div>
            </div>

            <app-betfair-login></app-betfair-login>

            <div class="aulasConcluidas" style="background-color: #F6F6F6; border-radius: 5px;">
              <div class="dot">
                <p style="margin-left: 7px;">50%</p>
              </div>
              <div class="aulasConcluidasText">
                <p>53 de 106 aulas</p>
                <p>concluídas</p>
              </div>
            </div>
          </div>
          <!--                    End content menu-->

          <!--                    Start content main-->
          <div class="col-xl-10 col-lg-9 col-md-9 col-sm-8 contentMain">

            <!--                        Start dashboard content-->
            <div class="dashboardContent">
              <div class="row">

                <!--                                Start coluna conquistas-->
                <div class="col-xl-9 col-md-12 colunaCardsConquistas">
                  <div class="row col-12" style="justify-content: center">
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard1">
                        <div class="row imageCardTitle">
                          <p>ARTILHEIRO</p>
                          <p>NÍVEL 1</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard2">
                        <div class="row imageCardTitle">
                          <p>TOP 10</p>
                          <p>2ª DIVISÃO</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard2">
                        <div class="row imageCardTitle">
                          <p>TOP 10</p>
                          <p>3ª DIVISÃO</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard4">
                        <div class="row imageCardTitle">
                          <p>CAMPEÃO</p>
                          <p>3ª DIVISÃO</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row col-12" style="justify-content: center">
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard3">
                        <!--                                                <div class="cardPontuacao">-->
                        <!--                                                    <p>20 PS</p>-->
                        <!--                                                </div>-->
                        <div class="row imageCardTitle">
                          <p>PRESENÇA</p>
                          <p>NÍVEL 1</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12  teste">
                      <div class="row conquistaImageCard7">
                        <div class="row imageCardTitle">
                          <p>ACADEMIA</p>
                          <p>30% COMPLETO</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard6">
                        <div class="row imageCardTitle">
                          <p>COMPLETO</p>
                          <p>NÍVEL 1</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12  teste">
                      <div class="row conquistaImageCard5">
                        <div class="row imageCardTitle">
                          <p>CONECTADO</p>
                          <p>COMPLETO</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row col-12" style="justify-content: center">
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard7">
                        <div class="row imageCardTitle">
                          <p>ACADEMIA</p>
                          <p>50% COMPLETO</p>
                        </div>
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard8">
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1"
                          style="background-color: rgba(200,200,200,0.1) !important; border-left: none;">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2" style="background-color: rgba(200,200,200,0.1) !important;">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard8">
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1"
                          style="background-color: rgba(200,200,200,0.1) !important; border-left: none;">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2" style="background-color: rgba(200,200,200,0.1) !important;">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12 teste">
                      <div class="row conquistaImageCard8">
                      </div>
                      <div class="row conquistaContentCard">
                        <div class="cardText1"
                          style="background-color: rgba(200,200,200,0.1) !important; border-left: none;">
                          <p>AGO 2019</p>
                        </div>
                        <div class="cardText2" style="background-color: rgba(200,200,200,0.1) !important;">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--                                End coluna conquistas-->



                <div class="col-xl-3 col-lg-5 col-md-6 col-sm-9 col-xs-12 colunaTituloConquistas">
                  <div class="row">
                    <p>09</p>
                    <hr>
                    <p>32</p>
                  </div>
                  <div class="row">
                    <p>Você possui 9 conquistas de 32 disponíveis</p>
                  </div>
                  <div>
                    <img src="/assets/images/icons/play-circle.svg" alt="">
                  </div>
                  <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at deleniti distinctio ea earum enim
                      esse est facilis hic id incidunt ipsum, laborum necessitatibus possimus, quis reiciendis sapiente,
                      suscipit veritatis?</p>
                  </div>
                </div>
              </div>

            </div>
            <!--                        End dashboard content-->
          </div>
          <!--                    End content main-->
        </div>
        <!--                End content dashboard conquistas-->
      </div>

    </div>
  </div>
</body>
