<div id="partidasAoVivo aovivosubmenu" class="encerrados1 d-none" style="background-image: none !important;">
  <div class="container-fluid">
    <div class="row content">
      <div class="" style="margin-left: auto; margin-right: auto; display: grid; margin: 23px 0px;">
        <div class="contentColumnRight">
          <div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell7">81'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell scoreboard">2</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
