<div class="loginPage">

  <!--Start container-->

  <div class="divEspaco">
  </div>
  <div class="loginForm">

    <div class="imgForm">
      <img src="../../assets/images/logo-trader.png" alt="">
      <p>ENTRAR</p>
    </div>

    <!--            Start form-->
    <form (submit)="login()">
      <div class="formulario">

        <div class="form-group">
          <label for="email">e-mail</label>
          <input class="form-control" type="email" id="inputEmail" name="email" required placeholder="Seu email" [(ngModel)]="credentials.email">
        </div>

        <div class="form-group">
          <label for="inputSenha">senha</label>
          <input class="form-control" type="password" name="senha" required id="inputSenha" placeholder="Sua senha" [(ngModel)]="credentials.senha">
        </div>

        <button type="submit" class="btn btn-primary btnLoginForm">ENTRAR</button>

        <a href=""><small id="email" class="form-text text-muted">Recuperar Senha</small></a>
      </div>
      <!--            End form-->
    </form>


  </div>
  <div class="divEspaco">
  </div>

</div>
