<div class="loginPage">

  <!--Start container-->

  <div class="divEspaco">
  </div>
  <div class="loginForm">

    <div class="imgForm">
      <img src="../../assets/images/logo-trader.png" alt="">
      <p>ENTRAR</p>
    </div>

    <!--            Start form-->
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="formulario">

        <div class="form-group">
          <label for="email">e-mail</label>
          <input class="form-control" type="email" id="inputEmail" ngModel name="email" required placeholder="Seu email">
          <span *ngIf="emailError" class="invalid-feedback" role="alert">
            <strong>{{emailError}}</strong>
          </span>
        </div>

        <div class="form-group">
          <label for="inputSenha">senha</label>
          <input class="form-control" type="password" ngModel name="password" required id="inputSenha" placeholder="Sua senha">
          <span *ngIf="passwordError" class="invalid-feedback" role="alert">
            <strong>{{passwordError}}</strong>
          </span>
        </div>

        <button class="btn btn-primary btnLoginForm">ENTRAR</button>

        <a href=""><small id="email" class="form-text text-muted">Recuperar Senha</small></a>
      </div>
      <!--            End form-->
    </form>


  </div>
  <div class="divEspaco">
  </div>

</div>
