.betFairInput{
  border-width: 0;
  border-radius: 5px;
}
.betfairAccount{
  margin-bottom: 8px;
  height: auto;
}
.btn-outline-light {
  margin: 11px 0 !important;
  color: #000000!important;
  border-color: #212529;
  float: left;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*background-color: transparent;*/
  border: 1px solid;
  padding: 2px !important;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
