<body class="odds">
<div class="container-fluid">
  <div class="row content">

    <app-side-bar></app-side-bar>


    <div class="col-sm-11 col-xs-12 contentPage" style="margin-left: 4.7em;">

      <!--        Start top menu-->
      <div class="topMenu">
        <div class="col-12 d-flex pr-0">
          <div class="col-xl-6 col-lg-4 col-md-4 col-sm-3 d-flex topMenuLeft">
            <div class="verticalLine"></div>
            <h3>TRADE ESPORTIVO</h3>
          </div>

          <div class="col-xl-6 col-lg-8 col-md-8 col-sm-9 d-flex topMenuRight">
            <div class="d-flex">
              <img src="/assets/images/icons/football-badge.png" alt="">
              <p>2º DIVISÃO</p>
            </div>

            <div class="d-flex">
              <img src="/assets/images/icons/betting.png" alt="">
              <p>R$ 45000,00</p>
            </div>

            <div class="d-flex">
              <img src="/assets/images/icons/podium.png" alt="">
              <p>2386 XS</p>
            </div>

            <div class="d-flex">
              <img src="/assets/images/icons/goal.png" alt="">
              <p>2º RANKING</p>
            </div>

            <div class="topMenuUser">
              <p>
                PETER MARKS
              </p>
              <div class="userImage">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--        End top menu-->

      <!--        Start button filters session-->
      <div class="filterSession" style="justify-content: space-between; width: 80%; margin-left: 60px;">
        <div class="dropdown">
          <p>ORDENAR POR:</p>
          <button class="btn btn-primary dropdown-toggle filterButton" type="button" data-toggle="dropdown">Data
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <input class="form-control" type="text" placeholder="Search..">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="dropdown">
          <a href="">
            <p>ATUALIZAR</p>
            <!--                        <span class="iconify" data-icon="feather-refresh-cw" data-inline="false" style="color: #fff; margin-left: 10px;"></span>-->
            <i class="fas fa-sync" style="color: #fff; margin-left: 10px;"></i>
          </a>
        </div>
      </div>
      <!--        End button filters session-->

      <!--        Start content-->
      <div class="container-fluid contentSession">
        <div style="overflow: visible; width: 100%; height: 600px; text-align: -webkit-center;">
          <!--                Start first content column-->
          <div class="col-xl-4 col-lg-6 col-md-12 contentColumnRight">
            <div class="row rowTable" style="margin-left: -20px;">
              <div class="contentColumnLeftTop">
                <h5>10% a 49%</h5>
              </div>

            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">OVER 0.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell6">2.00</div>
                    <div class="divTableCell tableCell9">UNDER 2.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">PROB CASA</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9" style="font-size: 11px !important;">PROB VISITANTE</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell6">2.00</div>
                    <div class="divTableCell tableCell9">PROB EMPATE</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">OVER 2.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">BTS SIM</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--                End first content column-->

          <!--                Start second content column-->
          <div class="col-xl-4 col-lg-6 col-md-12 contentColumnRight">
            <div class="row rowTable" style="margin-left: -20px;">
              <div class="contentColumnLeftTop">
                <h5 style="text-align: left">50% A 99%</h5>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">OVER 0.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell6">2.00</div>
                    <div class="divTableCell tableCell9">UNDER 2.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">PROB CASA</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9" style="font-size: 11px !important;">PROB VISITANTE</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell6">2.00</div>
                    <div class="divTableCell tableCell9">PROB EMPATE</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">OVER 2.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">BTS SIM</div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!--                End second content column-->
          <!--                Start third content column-->
          <div class="col-xl-4 col-lg-12 col-md-12 contentColumnRight">
            <div class="row rowTable" style="margin-left: -20px;">
              <div class="contentColumnLeftTop">
                <h5>+ 100%</h5>
              </div>

            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">OVER 0.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell6">2.00</div>
                    <div class="divTableCell tableCell9">UNDER 2.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">PROB CASA</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9" style="font-size: 11px !important;">PROB VISITANTE</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell6">2.00</div>
                    <div class="divTableCell tableCell9">PROB EMPATE</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">OVER 2.5 HT</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnRightRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">Barcelona</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">Real Madrid</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowFourthTh">
                <div class="divTableBody">
                  <div class="divTableRow">
                    <div class="divTableCell tableCell1">1.79</div>
                    <div class="divTableCell tableCell2">2.00</div>
                    <div class="divTableCell tableCell9">BTS SIM</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--                End third content column-->
        </div>
      </div>
      <!--        End content-->
    </div>

  </div>
</div>
</body>
