<div id="partidasEncerradas encerradassubmenu" class="encerrados2 d-none" style="background-image: none !important; background-color: #f5f5f5;">
  <div class="container-fluid">
    <div class="row content">
      <div class="" style="margin-left: auto; margin-right: auto; display: grid; margin: 23px 0px;">
        <div class="contentColumnRight">
          <div>

            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">FIM</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd" style="color: #6CBA8C">
                    <div class="divTableCell scoreboard">3</div>
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd" style="color: #eb0000">
                    <div class="divTableCell scoreboard" style="background-color: #eb0000">1</div>
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
