<div id="proximasPartidas proximassubmenu" class="proximasPartidas d-none" style="background-image: none !important; background-color: #f5f5f5;">

  <div class="container-fluid">
    <div class="row content">
      <div class="" style="margin-left: auto; margin-right: auto; display: grid; margin: 23px 0px;">
        <div class="contentColumnRight">
          <div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row contentColumnLeftRow">
              <div class="divTable contentColumnLeftRowFirstTh">
                <div class="divTableBody">
                  <div class="divTableRow" >
                    <div class="divTableCell tableCell8">COMEÇA EM 31'</div>
                  </div>
                </div>
              </div>

              <div class="divTable contentColumnLeftRowSecondTh">
                <div class="divTableBody">
                  <div class="divTableRow contentColumnLeftRowSecondTd">
                    <div class="divTableCell clubName">BARCELONA</div>
                  </div>
                  <div class="divTableRow contentColumnLeftRowThirdTd">
                    <div class="divTableCell clubName">REAL MADRID</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
