<body class="bdcNaoCadastrado">
<div class="container-fluid">
  <div class="row content">

    <app-side-bar></app-side-bar>


      <div class="col-sm-11 col-xs-12 contentPage">

        <!--        Start top menu-->
        <div class="topMenu">
          <div class="col-12 d-flex pr-0">
            <div class="col-xl-6 col-lg-4 col-md-4 col-sm-3 d-flex topMenuLeft">
              <div class="verticalLine"></div>
              <h3>TRADE ESPORTIVO</h3>
            </div>

            <div class="col-xl-6 col-lg-8 col-md-8 col-sm-9 d-flex topMenuRight">
              <div class="d-flex">
                <img src="/assets/images/icons/football-badge.png" alt="">
                <p>2º DIVISÃO</p>
              </div>

              <div class="d-flex">
                <img src="/assets/images/icons/betting.png" alt="">
                <p>R$ 45000,00</p>
              </div>

              <div class="d-flex">
                <img src="/assets/images/icons/podium.png" alt="">
                <p>2386 XS</p>
              </div>

              <div class="d-flex">
                <img src="/assets/images/icons/goal.png" alt="">
                <p>2º RANKING</p>
              </div>

              <div class="topMenuUser">
                <p>
                  PETER MARKS
                </p>
                <div class="userImage">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        End top menu-->

        <!--        Start content-->
        <div class="contentTempoReal">
          <div class="col-xl-7 col-lg-7 col-md-12 tempoRealLeft">
            <div class="row">
              <div class="col-xl-7 col-lg-12 col-md-12">
                <div class="row tempoRealTitle">
                  <p>BARCELONA</p>
                  <img src="/assets/images/barcelona.png" alt="" class="timesLogo">
                  <h1>X</h1>
                  <img src="/assets/images/realmadrid.png" alt="" class="timesLogo">
                  <p>REAL MADRID</p>
                </div>
                <div>
                  <img class="imgTempoReal" src="/assets/images/temporeal1.png" alt="">
                </div>
                <div class="row bar1">
                  <div class="bdcInfo1"><p>38%</p></div>
                  <div class="bdcInfo2"><p>GOLS ATÉ 15'</p></div>
                  <div class="bdcInfo3"><p>PERIGO DE SCALPING</p></div>
                  <div class="bdcInfo4"><p>GOLS APÓS 80'</p></div>
                  <div class="bdcInfo5"><p>18%</p></div>
                </div>
                <div class="row bar2">
                  <div class="bdcInfo6"><p>PESO DA ANÁLISE TÉCNICA</p></div>
                  <div class="bdcInfo7"><p>95%</p></div>
                  <div class="bdcInfo8"><img src="/assets/images/betfair.png" alt=""><i class="fas fa-chevron-circle-right"></i></div>
                </div>
              </div>
              <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="row rowCenter">
                  <p>- ENTRADAS SUGERIDAS -</p>
                </div>
                <table class="table table-striped table-dark tabelaEntradas">
                  <tbody>
                  <tr>
                    <td>LTD (CONTRA O EMPATE)</td>
                  </tr>
                  <tr>
                    <td>BACK OVER 0.5 HT</td>
                  </tr>
                  <tr>
                    <td>OVER 0.5</td>
                  </tr>
                  <tr>
                    <td>OVER 1.5 (ODD ACIMA DE 1.50)</td>
                  </tr>
                  <tr>
                    <td>UNDER 4.5 COM ODD PERTO DE 1.25</td>
                  </tr>
                  <tr>
                    <td>PERIDO DE SCALPING NO 15'</td>
                  </tr>
                  <tr>
                    <td>PERIDO DE GOL APÓS OS 80'</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-12 imgTempoReal2">
                <img src="/assets/images/matchTV.png" alt="">
              </div>

            </div>


          </div>
          <!--            End left content column-->

          <!--            Start right content column-->
          <div class="co-xl-5 col-lg-5 col-md-12 tempoRealRight">
            <div class="row rowCenter">
              <p>- ODDS COMPARADAS PROBABILIDADES - </p>
            </div>

            <div class="oddsComparadasProbabilidades">
              <div class="row">
                <p>JUSTA</p>
              </div>
              <div class="row rowSquare">
                <div class="square">
                </div>
                <div class="square">
                </div>
              </div>
              <table class="table table-striped table-dark tableOddsComparadasProbabilidades">
                <tbody>
                <tr>
                  <td>1.25</td>
                  <td>1.25</td>
                  <td>1.25</td>
                </tr>
                <tr>
                  <td>1.25</td>
                  <td>1.25</td>
                  <td>1.25</td>
                </tr>
                </tbody>
              </table>
              <div class="row rowSquare">
                <div class="square2">
                </div>
                <div class="square2">
                </div>
              </div>
              <div class="row">
                <p>LIVE</p>
              </div>
            </div>


            <div class="btn-group dropleft1">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BACK
              </button>
              <div class="dropdown-menu dropleftDropdown1">
                <div class="faixaAzul"></div>
                <div class="row dropleftDropdown1Content">
                  <div class="row">
                    <img src="/assets/images/icons/crown.png" alt="">
                    <p style="font-family: Bahnschrift !important; font-weight: 300; font-size: 12px; color: #fff !important;">SCALPING BACK</p>
                  </div>
                  <hr class="linhaHorizontal">
                  <form>
                    <div class="form-group">
                      <label>STAKE</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>ODD ENTRADA</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>ODD SAÍDA</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>LUCRO</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="row">
                      <button type="submit" class="btn btn-primary">CALCULAR</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <div class="btn-group dropleft2">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LAY
              </button>
              <div class="dropdown-menu dropleftDropdown2">
                <div class="faixaRosa"></div>
                <div class="row dropleftDropdown2Content">
                  <div class="row">
                    <img src="/assets/images/icons/crown.png" alt="">
                    <p style="font-family: Bahnschrift !important; font-weight: 600; font-size: 12px; color: #fff !important;">SCALPING LAY</p>
                  </div>
                  <hr class="linhaHorizontal">
                  <form>
                    <div class="form-group">
                      <label>STAKE</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>ODD ENTRADA</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>ODD SAÍDA</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>LUCRO</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="row">
                      <button type="submit" class="btn btn-primary">CALCULAR</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <div class="btn-group dropleft3">
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-flag-checkered"></i>
              </button>
              <div class="dropdown-menu dropleftDropdown3">
                <div class="faixaAmarela"></div>
                <div class="row dropleftDropdown3Content">
                  <div class="row">
                    <p style="font-family: Bahnschrift !important; font-weight: 600; font-size: 14px; color: #fff !important;">PRÓXIMA ENTRADA</p>
                    <hr class="linhaHorizontal">
                  </div>
                  <div>
                    <div class="proximaEntradaDados">
                      <p style="font-family: Bahnschrift !important; font-weight: 300; font-size: 10px; color: #fff !important;">BANCA ATUAL</p>
                      <p style="font-family: Bahnschrift !important; font-weight: 600; font-size: 19px; color: #fff !important;">R$ 45000,00</p>
                      <hr class="linhaHorizontal">
                    </div>
                    <div class="proximaEntradaDados">
                      <p style="font-family: Bahnschrift !important; font-weight: 300; font-size: 10px; color: #fff !important;">META MÍNIMA</p>
                      <p style="font-family: Bahnschrift !important; font-weight: 600; font-size: 24px; color: #66BE87 !important;">R$ 450,00</p>
                      <hr class="linhaHorizontal">
                    </div>
                    <div class="proximaEntradaDados">
                      <p style="font-family: Bahnschrift !important; font-weight: 300; font-size: 10px; color: #fff !important;">CENTRO DA META</p>
                      <p style="font-family: Bahnschrift !important; font-weight: 600; font-size: 24px; color: #7FC1F5 !important;">R$ 600,00</p>
                      <hr class="linhaHorizontal">
                    </div>
                    <div class="proximaEntradaDados">
                      <p style="font-family: Bahnschrift !important; font-weight: 300; font-size: 10px; color: #fff !important;">META MÁXIMA</p>
                      <p style="font-family: Bahnschrift !important; font-weight: 600; font-size: 24px; color: #DC473C !important;">R$ 750,00</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Split dropleft button -->

            <div class="row rowCenter">
              <p>- ODDS COMPARADAS GOLS - </p>
            </div>
            <table class="table table-bordered table-dark tableOddsComparadasGols">
              <thead>
              <tr>
                <th></th>
                <th colspan="2">OVER</th>
                <th colspan="2">UNDER</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>0.5 HT</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              <tr>
                <td>1.5 HT</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              <tr>
                <td>2.5 HT</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              <tr>
                <td>0.5</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              <tr>
                <td>1.5</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              <tr>
                <td>2.5</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              <tr>
                <td>3.5</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              </tbody>
            </table>

            <div class="row rowCenter">
              <p>- ODDS COMPARADAS AMBAS MARCAM - </p>
            </div>
            <table class="table table-striped table-dark tableOddsAmbasMarcam">
              <thead>
              <tr>
                <th colspan="2">SIM</th>
                <th colspan="2">NÃO</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
                <td>1.25</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--            End right content column-->
        </div>
        <!--        End content-->
      </div>

  </div>
</div>
</body>
