<body class="dashboardBanca dashboardCarreira">
  <div class="container-fluid">
    <div class="row content">

      <app-side-bar></app-side-bar>


      <div class="col-sm-11 col-xs-12 contentPage" style="margin-left: 4.7em;">

        <!--                Start top menu-->
        <div class="topMenu" style="margin:0">
          <div class="col-12 d-flex pr-0">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 d-flex topMenuLeftDashboard">
              <div class="userImageDashboard">
              </div>
              <div>
                <h3>PETER MARKS</h3>
                <p class="dashboardData">AGOSTO DE 2019</p>
              </div>
            </div>
            <div class="topMenuData">
              <p>Ter, 27 de Agosto de 2019</p>
            </div>

            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-6 d-flex dashboardTopMenuRight">
              <ul>

                <li>
                  <a style="margin-left: -95px; margin-top: 9px" href="dashboard/ct" class="menuItem">CENTRO DE
                    TREINAMENTO</a>
                </li>

                <li>
                  <a style="margin-left: -28px;" href="dashboard/banca" class="menuItem">BANCA</a>
                </li>

                <li>
                  <a style="margin-left: -38px;" href="dashboard/carreira" class="menuItem">CARREIRA</a>
                </li>
                <li>
                  <a style="margin-left: -45px;" href="dashboard/conquistas" class="menuItem">CONQUISTAS</a>
                </li>


                <!--          <li class="active"><a href="dashboard-ct.html" class="menuItem">CENTRO DE TREINAMENTO</a></li>-->
                <!--          <li><a href="dashboard-banca.html" class="menuItem">BANCA</a></li>-->
                <!--          <li><a href="dashboard-carreira.html" class="menuItem">CARREIRA</a></li>-->
                <!--          <li><a href="dashboard-conquistas.html" class="menuItem">CONQUISTAS</a></li>-->
              </ul>
            </div>
          </div>
        </div>
        <!--                End top menu-->

        <!--                Start content dashboard banca-->
        <div class="container-fluid contentDashboardBanca">
          <!--                    Start content menu-->
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 contentMenu">
            <div class="metas">
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/betting-gray.png" alt="">
                <p>Banca</p>
                <p>R$ 45000,00</p>
              </div>
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/football-badge-gray.png" alt="">
                <p>Nível</p>
                <p>2º DIVISÃO</p>
              </div>
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/podium-gray.png" alt="">
                <p>Engajamento</p>
                <p>2º RANKING</p>
              </div>
              <div class="sideDashboardCTCard">
                <img src="/assets/images/icons/goal-gray.png" alt="">
                <p>Pontuação</p>
                <p>2387 XS</p>
              </div>
            </div>

            <app-betfair-login></app-betfair-login>

            <div class="aulasConcluidas" style="background-color: #F6F6F6; border-radius: 5px;">
              <div class="dot">
                <p style="margin-left: 7px;">50%</p>
              </div>
              <div class="aulasConcluidasText">
                <p>53 de 106 aulas</p>
                <p>concluídas</p>
              </div>
            </div>

          </div>
          <!--                    Start content main-->
          <div class="col-xl-10 col-lg-9 col-md-9 col-sm-8 contentMain">
            <!--                        Start dashboard content-->
            <div class="dashboardContent">
              <div class="row">
                <!--                                Start coluna 2 divisao-->
                <div class="col-xl-4 col-md-6 col-sm-12 coluna2divisao">
                  <div class="row coluna2divisaoTitulo">
                    <h1>2ª DIVISÃO</h1>
                  </div>
                  <div class="row coluna2divisaoSubTitulo">
                    <p>27 dias</p>
                  </div>
                  <div>
                    <div class="row coluna2divisaoRow">
                      <div>
                        <p class="small">8000 PS</p>
                      </div>
                      <div>
                        <p>1ª DIVISÃO</p>
                      </div>
                    </div>

                    <div class="row coluna2divisaoRow">
                      <div>
                        <p class="small">2000 PS</p>
                      </div>
                      <div>
                        <p>2ª DIVISÃO</p>
                      </div>
                    </div>

                    <div class="row coluna2divisaoRow">
                      <div>
                        <p class="small">500 PS</p>
                      </div>
                      <div>
                        <p>3ª DIVISÃO</p>
                      </div>
                    </div>

                    <div class="row coluna2divisaoRow">
                      <div>
                        <p class="small">0 PS</p>
                      </div>
                      <div>
                        <p>DIVISÃO DE BASE</p>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="divisaoCard">
                      <div class="divisaoImageCard"></div>

                      <div class="row divisaoCardContent">
                        <div class="row col-12 divisaoCard1">
                          <p>2ª DIVISÃO</p>
                        </div>
                        <hr>
                        <div class="row col-12 divisaoCard2">
                          <p>MÉDIA DA TURMA</p>
                        </div>
                        <div class="row col-12 divisaoCard3">
                          <p>AGOSTO DE 2019</p>
                        </div>
                      </div>
                    </div>
                    <div class="rankingCard">
                      <div class="rankingImageCard"></div>
                      <div class="row rankingCardContent">
                        <div class="row col-12 rankingCard1">
                          <p>2ª RANKING</p>
                        </div>
                        <hr>
                        <div class="row col-12 rankingCard2">
                          <p>MELHOR COLOCADO DA TURMA</p>
                        </div>
                        <div class="row col-12 rankingCard3">
                          <p>AGOSTO DE 2019</p>
                        </div>
                      </div>
                    </div>
                    <div class="pontuacaoCard">
                      <div class="pontuacaoImageCard"></div>
                      <div class="row pontuacaoCardContent">
                        <div class="row col-12 pontuacaoCard1">
                          <p>2105 PS</p>
                        </div>
                        <hr>
                        <div class="row col-12 pontuacaoCard2">
                          <p>MÉDIA DA TURMA</p>
                        </div>
                        <div class="row col-12 pontuacaoCard3">
                          <p>AGOSTO DE 2019</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--                                End coluna 2 divisao-->

                <!--                                Start coluna 2 ranking-->
                <div class="col-xl-4 col-md-6 col-sm-12 coluna2ranking">
                  <div class="row coluna2rankingTitulo">
                    <h1>2ª RANKING</h1>
                  </div>
                  <div class="row coluna2rankingSubTitulo">
                    <p>2 DIAS</p>
                  </div>

                  <div class="rankingLinhas">
                    <div class="row rankingRow">
                      <div>
                        <h3>1</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>2</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>3</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>4</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>5</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>6</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>7</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>8</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                    <div class="row rankingRow">
                      <div>
                        <h3>9</h3>
                      </div>
                      <div>
                        <img src="/assets/images/userImageDashboard4.png" alt="" height="auto" width="30%">
                        <p>PETER MARKS</p>
                      </div>
                      <div>
                        <p>2387 PS</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--                                End coluna2ranking-->

                <!--                                Start coluna pontuacao-->
                <div class="col-xl-4 col-md-12 col-sm-12 colunaPontuacao">
                  <div class="row coluna2pontuacaoTitulo">
                    <h1>2367 PS</h1>
                  </div>
                  <div class="row coluna2pontuacaoSubTitulo">
                    <p>1 DIA</p>
                  </div>
                  <div style="height: 500px; overflow: auto">
                    <!--                                        Start tabela carreira pontuacao-->
                    <table class="table tabelaCarreiraPontuacao">
                      <tbody>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                        <tr>
                          <td>02 PS</td>
                          <td>1</td>
                          <td>PARTIDA REALIZADA</td>
                        </tr>
                        <tr>
                          <td>05 PS</td>
                          <td>1</td>
                          <td>GREEN</td>
                        </tr>
                      </tbody>
                    </table>
                    <!--                                        End tabela carreira pontuacao-->
                  </div>
                </div>
                <!--                                End coluna pontuação                                -->
              </div>
            </div>
            <!--                        End dashboard content-->
          </div>
          <!--                    End content main-->
        </div>
        <!--                End content dashboard banca-->
      </div>

    </div>
  </div>
</body>